{% macro card_macro(card, edition_name, foil_quantity=0, nonfoil_quantity=0, foil_price='N/A', nonfoil_price='N/A') %}
<div class="card" data-collector-number="{{ card.collector_number }}" data-colors="{{ card.colors | join(' ') }}" data-rarity="{{ card.rarity }}" data-name="{{ card.name }}">
    <img src="{{ url_for('card_image', edition_name=edition_name, scryfall_id=card.scryfall_id) }}" alt="Image of {{ card.name }}" class="card-image">
    <div class="card-details">
        <div class="card-name-collector">
            <div class="card-name">{{ card.name }}</div>
            <div class="card-collector-number">#{{ card.collector_number }}</div>
        </div>
        <div class="quantities">
            <div class="quantity-detail">
                <span class="qty-label">Foil:</span>
                <span class="qty-number">{{ foil_quantity }}</span>
            </div>
            <div class="quantity-detail">
                <span class="qty-label">Non-Foil:</span>
                <span class="qty-number">{{ nonfoil_quantity }}</span>
            </div>
        </div>
        <div class="prices">
            <div class="price-detail">
                <span class="price-label">Foil Price:</span>
                <span class="price-amount">${{ foil_price }}</span>
            </div>
            <div class="price-detail">
                <span class="price-label">Non-Foil Price:</span>
                <span class="price-amount">${{ nonfoil_price }}</span>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
